<b>{{ title }}</b>
{% if description %}

{{ description }}
{% endif %}
{% if speaker %}

📣 Спикер: {{ speaker }}{% if affiliate %} от команды {{ affiliate }}{% endif %}
{% endif %}

🗓 Время проведения: {{ start.strftime('%H:%M') }} - {{ end.strftime('%H:%M') }}
