<b>{{ name }}</b>

{% if description %}
{{ description }}

{% endif %}
🏅 Стоимость: <code>{{ weight }}</code>
{% if team %}

🤝 Командная задача
{% endif %}
{% if solved %}

✅ Задача уже решена
{% endif %}
{% if end %}

⏳ Доступно до: {{ end.strftime('%a %d %H:%M') }}
{% endif %}
